.style{
  background-color: #f7f5f5;
  border:1px solid;
  border-color: black;
  height: 100%;
}
.padding{
  padding:50px;
}
.right{
  float: right;
}
.left{
  float: left;
}
p{
  margin-top: 10px;
}
.thanku{

  padding-top:30px;
  padding-bottom: 30px;

}
